
<div class="Home" ng-class="{'animate':move}">

    <!-- TODO home content -->

    <div class="container">

        <div class="row menus">
            <div class="col-xs-6 text-center">
                <div class="menu-button"> <span>Tarefas por concluir</span> <i class="fa fa-wrench fa-2x"></i> </div>
            </div>

            <div class="col-xs-6 text-center">
                <div class="menu-button"> <span>Tarefas concluidas</span>  <i class="fa fa-check-circle fa-2x"></i></div>
            </div>


        </div>


    </div>

</div>


<!-- Float navBar-->
<navbar open="move"></navbar>